html,
body,
#root {
  height: 100vh;
  background-color: #222222;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 7rem;  
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color:  #222222 #f3efe0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #222222;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #22A39F;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;        
} */